/**
 * @file
 * Display Suite Two Column Double Bricks stylesheet.
 */

.ds-above-left {
  width: 50%;
  float: left;
}

.ds-above-right {
  width: 50%;
  float: left;
}

.ds-above-brick {
  clear: left;
}

.ds-middle-left {
  width: 50%;
  float: left;
}

.ds-middle-right {
  width: 50%;
  float: left;
}

.ds-below-brick {
  clear: left;
}

.ds-below-left {
  width: 50%;
  float: left;
}

.ds-below-right {
  width: 50%;
  float: left;
}

.ds-footer {
  clear: left;
}
